*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.clearfix::after{
    content: '';
    display: table;
    clear: both;
}

/* __________ COMMON STYLES __________ */
body{
    font-family: 'Montserrat', sans-serif;
}

h2{
    font-size: 1.9rem;
}

p{
    color: rgb(148, 148, 148);
}

.container{
    width: 70%;
    max-width: 1200px;
    margin: auto;
}

.overlay{
    position: absolute;
    top: 0;
    right: 0;
    left: 0;
    bottom: 0;

    background-color: rgba(0, 0, 0, 0.15);
}

.image{
    height: 250px;
    position: relative;
    border-radius: 10px;
    overflow: hidden;

    background-size: cover;
    background-position: center;
}
/* __________ END COMMON STYLES __________ */



/* __________ HEADER __________ */
header img.logo{
    width: 150px;
    padding-top: 15px;
    margin-bottom: 20px;
    padding-right: 2rem;

    border-right: 2px rgba(206, 206, 206, 0.568) solid;
}

header nav a{
    text-decoration: none;
    text-transform: uppercase;
    color:  rgb(148, 148, 148);
    font-size: .9rem;

    margin-right: .5rem;
}
/* __________  END HEADER __________ */



/* __________ MAIN __________ */
main section{
    margin: 1rem 0;
}

/* ---------- HERO SECTION ---------- */
main section.hero{
    height: 65vh;
    position: relative;
    overflow: hidden;
    border-radius: 10px;
    margin-top: 2.5rem;

    background-image: url("../img/banner.jpg");
    background-size: cover;
    background-position: center;
}

section.hero .text_container{
    position: absolute;
    left: 5%;
    bottom: 15%;
    width: 50%;
    color: white;
}

section.hero .text_container p{
    color: white;
}

section.hero .text_container h1{
    font-weight: 600;
}
/* ---------- END HERO SECTION ---------- */


/* ---------- LEADERSHIP SECTION ---------- */

/* section title */
.leadership_section .leadership_title{
    padding: 2rem 0;
    padding-bottom: 2rem;
    background-color: white;
}

/* layout colums content */
.leadership_section .row{
    padding: 1rem 0;
}

.leadership_section .row h4{
    padding: 15px 0;
    font-weight: 400;
}

.leadership_section .col_left .image{
    background-image: url("../img/img-1.jpg");
}

.leadership_section .col_center .image{
    background-image: url("../img/banner-2.jpg");
}

.leadership_section .col_right .image{
    background-image: url("../img/img-3.jpg");
}

main .leadership_section .col_left,
main .leadership_section .col_right,
main .leadership_section .col_center{
    float: left;
    width: 25%;
}

main .leadership_section .col_center{
    width: calc(50% - 2rem);
    margin: 0 1rem;
}
/* ---------- END LEADERSHIP SECTION ---------- */


/* __________ END MAIN __________ */



/* __________ FOOTER __________ */
footer{
    margin-bottom: 1rem;
}

footer .designed_by{
    text-align: center;
}

footer .designed_by span{
    color: red;
    font-size: 1.5rem;
}
/* __________ END FOOTER __________ */
