*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.clearfix::after{
    content: '';
    display: table;
    clear: both;
}

/* __________ COMMON STYLES __________ */
body{
    font-family: 'Montserrat', sans-serif;
}

.container{
    width: 70%;
    max-width: 1200px;
    margin: auto;
}

.overlay{
    position: absolute;
    top: 0;
    right: 0;
    left: 0;
    bottom: 0;

    background-color: rgba(0, 0, 0, 0.15);
}
/* __________ END COMMON STYLES __________ */



/* __________ HEADER __________ */
header img.logo{
    width: 150px;
    padding-top: 15px;
    margin-bottom: 20px;
    padding-right: 2rem;

    border-right: 2px rgba(206, 206, 206, 0.568) solid;
}

header nav a{
    text-decoration: none;
    text-transform: uppercase;
    color: grey;
    font-size: .9rem;

    margin-right: .5rem;
}
/* __________  END HEADER __________ */



/* __________ MAIN __________ */
main section{
    margin: 2rem 0;
}

/* ---------- HERO SECTION ---------- */
main section.hero{
    height: 65vh;
    position: relative;
    overflow: hidden;
    border-radius: 10px;

    background-image: url("../img/banner.jpg");
    background-size: cover;
    background-position: center;
}

section.hero .text_container{
    position: absolute;
    left: 5%;
    bottom: 15%;
    width: 50%;
    color: white;
}
/* ---------- END HERO SECTION ---------- */


/* ---------- LEADERSHIP SECTION ---------- */
main .leadership_section{
    background-color: blue;
}

/* section title */
.leadership_section .leadership_title{
    background-color: #abcfe7;
}

main .leadership_section .leadership_title{
    height: 100px;
}
/* layout colums content */
.leadership_section .row{
    padding: 1rem 0;
}

main .leadership_section .col_left,
main .leadership_section .col_right,
main .leadership_section .col_center{
    float: left;
    height: 500px;
    width: 25%;
    background-color: #abcfe7;
}

main .leadership_section .col_center{
    width: calc(50% - 2rem);
    margin: 0 1rem;
}
/* ---------- END LEADERSHIP SECTION ---------- */


/* __________ END MAIN __________ */



/* __________ FOOTER __________ */
footer{
    background-color: violet;
    height: 80px;
    margin-bottom: 1rem;
}
/* __________ END FOOTER __________ */
